body.notMasterBody {
    background-image: radial-gradient(circle, $blue 0%, $lightGrey 80%);
}

div.notMaster {
    @include resultWrapper;
    h1 {
        -webkit-text-stroke: 2px #3b4cca;
    }
    img.pikachu {
        width: 30rem;
    }
    p {
        @include resultP;
    }
    p:nth-child(3) {
        margin-bottom: 0;
    }
    p:nth-child(4) {
        margin-top: 0;
    }
    a.tryAgain {
        @include tryAgain;
    }
    a.tryAgain:hover {
        @include tryAgainHover;
    }
}