body.masterBody {
    background-image: radial-gradient(circle, $yellow 0%, $bgPink 80%);
}

div.master {
    @include resultWrapper;
    h1 {
        -webkit-text-stroke: 2px #3b4cca;
    }
    p {
        @include resultP;
    }
    img:nth-child(2) {
        width: 30rem;
    }
    img:nth-child(3) {
        width: 40%;
        margin-top: 3rem;
        filter: contrast(100%) brightness(100%) drop-shadow(3px 3px 0px black);
    }
    p:nth-child(4) {
        margin-bottom: 0;
    }
    a.tryAgain {
        @include tryAgain;
    }
    a.tryAgain:hover {
        @include tryAgainHover;
    }
}