body {
  background-color: $bgPink;
  h1 {
    color: $yellow;
    font-size: 6rem;
    font-family: Pokemon, fantasy;
    letter-spacing: 6px;
    text-shadow: 10px 10px 0px #3b4cca;
  }

  .pokeImg {
    width: 250px;
    filter: drop-shadow(8px 8px 3px rgb(59, 59, 59));
  }
  .shadow {
    filter: contrast(0%) brightness(0%);
  }
  .nextPokemon {
    visibility: hidden;
  }
  .badges ul {
      list-style: none;
      display: flex;
  }
  .badgeShadow {
    filter: contrast(50%) brightness(20%);
  }
}