@media (max-width: 825px) {
    header.indexHeader {
        h1 {
            font-size: 70px;
            margin-top: 4rem;
        }
        img.pokemonLogo {
            width: 600px;
            margin-top: -3rem;
        }
    }
}


@media (max-width: 630px) {
    header.indexHeader {
        h1 {
            font-size: 70px;
            margin-top: 0;
        }
        img.pokemonLogo {
            width: 500px;
            margin-top: -3rem;
        }
        p {
            width: 90%;
        }
        img.badges {
            width: 400px;
        }
        // The anchor button:
        a.goQuiz {
            padding: 30px 20px;
            width: 90%;
        }
    }
}

@media (max-width: 520px) {
    header.indexHeader {
        h1 {
            font-size: 60px;
            margin-top: 0;
        }
        img.pokemonLogo {
            width: 300px;
            margin-top: -1rem;
        }
        p {
            font-size: 25px;
            width: 90%;
        }
        img.badges {
            width: 300px;
        }
        // The anchor button:
        a.goQuiz {
            padding: 30px 20px;
            width: 90%;
        }
    }
}