@mixin resultWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin resultP {
    font-family: 'Nerko One', cursive;
    color: $blueGrey;
    font-size: 55px;
    letter-spacing: 0px;
    text-shadow: none;
    font-weight: 400;
    text-align: center;
}

@mixin tryAgain {
    text-align: center;
    text-decoration: none;
    background-color: $pokeYellow;
    color: $pokeBlue;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding: 30px 30px;
    letter-spacing: 3px;
    width: 40rem;
}

@mixin tryAgainHover {
    background-color: $pokeBlue;
    color: $pokeYellow;
}