$bgPink: #e36761;
$bgPinkLight: #f88a84;
$bgPinkLight2: #ffb2ae;

$blue: #99d8eb;
$yellow: #f2f08b;

$blueGrey: #343239;
$lightGrey: #807894;

// pokemon logo colour:
$pokeBlue: #395faa;
$pokeYellow: #ffcb05;


// Fonts:
$qSand: 'Quicksand', sans-serif;