$bgPink: #e36761;
$bgPinkLight: #ffb5ad;

$blue: #99d8eb;
$yellow: #f2f08b;

$blueGrey: #343239;

// pokemon logo colour:
$pokeBlue: #395faa;
$pokeYellow: #ffcb05;


// Fonts:
$qSand: 'Quicksand', sans-serif;