@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

body {
  background-color: #e36761;
}

h1 {
  color: #f2f08b;
  font-size: 6rem;
  font-family: Pokemon, fantasy;
  letter-spacing: 6px;
  text-shadow: 10px 10px 0px #3b4cca;
  -webkit-text-stroke: 7px #3b4cca;
}

h2 {
  display: inline-block;
  color: #f2f08b;
  font-size: 3rem;
  letter-spacing: 4px;
  font-family: Pokemon, fantasy;
  text-shadow: 5px 5px 0px #3b4cca;
  -webkit-text-stroke: 3px #3b4cca;
}

.answerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.answerContainer .pokemonAnswer {
  text-transform: capitalize;
}

.pokeImg {
  width: 250px;
  -webkit-filter: drop-shadow(8px 8px 3px #3b3b3b);
          filter: drop-shadow(8px 8px 3px #3b3b3b);
}

.shadow {
  -webkit-filter: contrast(0%) brightness(0%);
          filter: contrast(0%) brightness(0%);
}

.nextPokemon {
  visibility: hidden;
}

.badges ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.badgeShadow {
  -webkit-filter: contrast(50%) brightness(20%);
          filter: contrast(50%) brightness(20%);
}

button {
  padding: 15px;
  border: none;
  background-color: #f2f08b;
  color: #343239;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
}

.textBox {
  padding: 15px;
  width: 173px;
  height: 50;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
}
