@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

body {
  background-color: #e36761;
}

body h1 {
  color: #f2f08b;
  font-size: 6rem;
  font-family: Pokemon, fantasy;
  letter-spacing: 3px;
  text-shadow: 10px 10px 0px #3b4cca;
}

body .pokeImg {
  width: 250px;
  -webkit-filter: drop-shadow(8px 8px 3px #3b3b3b);
          filter: drop-shadow(8px 8px 3px #3b3b3b);
}

body .shadow {
  -webkit-filter: contrast(0%) brightness(0%);
          filter: contrast(0%) brightness(0%);
}

body .nextPokemon {
  visibility: hidden;
}

body .badges ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .badgeShadow {
  -webkit-filter: contrast(50%) brightness(20%);
          filter: contrast(50%) brightness(20%);
}
