h1 {
  color: teal;
}

.pokeImg {
  width: 200px;
  -webkit-filter: contrast(0%) brightness(0%) drop-shadow(8px 8px 0px blue);
          filter: contrast(0%) brightness(0%) drop-shadow(8px 8px 0px blue);
}
