h1 {
    color: teal;
}

.pokeImg {
    width: 250px;
    filter: drop-shadow(8px 8px 3px rgb(59, 59, 59));
}
.shadow {
    filter: contrast(0%) brightness(0%) drop-shadow(8px 8px 0px blue)
}

/* This only changes this particular animation duration */
.animate__animated.animate__shakeX {
  --animate-duration: .2s;
}

.nextPokemon {
    visibility: hidden;
}